* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.seccion_1 {
    width: 50rem;
    position: relative;
    left: 35rem;
    top: 10rem;
}

form {
    width: 50rem;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

label {
    display: block;
    margin: 10px;
}

[type="submit"],[type="button"] {
    margin: 10px;
    cursor: pointer;
    width: 5rem;
    height: 2rem;
}

p {
    font-size: 22px;
    font-weight: bold;
    color: red;
}

.seccion_2 {
    position: absolute;
    top: 10rem;
    left: 10rem;
}

.tabla {
    border-color: #000;
    max-width: 20rem;
    text-align: center;
}

.tabla tr th {
    padding: 5px;
}
tbody td{
    padding: 5px;
    text-transform: uppercase;
}