*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    max-width: 45rem;
    margin: auto auto;
    margin-top: 10rem;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
}
h3{
    margin: 10px;
    text-align: justify;
}
label{
    display: block;
    text-align: center;
    margin: 10px;
}
input{
    display: block;
    margin: 10px auto;
}
pre{
    text-align: center;
    color: rgb(240, 15, 15);
    font-size: 20px;
}