* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.produtos {
    max-width: 20rem;
    border: 2px solid black;
    position: relative;
    top: 16rem;
    left: 17rem;
}

.contenedor {
    max-width: 45rem;
    top: 20rem;
    left: 40rem;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    position: absolute;
}

h3 {
    margin: 10px;
    text-align: center;
}
h4{
    padding: 10px;
}

[class="titulo"] {
    color: blue;
    text-transform: uppercase;
}

label {
    display: block;
    text-align: center;
    margin: 10px;
}

input {
    display: block;
    margin: 10px auto;
}

b {
    color: red
}